@import url("https://fonts.googleapis.com/css?family=Kanit");

* {
    margin: 0%;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.218);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

body {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    background-color: seagreen;
}

.img {
    width: 100%;
    height: 135px;
    margin-bottom: -6px;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.dropdown {
    color: white;
    display: flex;
    position: relative;
}

.menu-bar {
    background: #333;
    text-align: center;
}

.menu-bar ul {
    display: flex;
    margin-left: 20px;
    margin-right: 30px;
    list-style: none;
    color: #0a0a0a;
    transition: 0.5s;
    position: relative;
}

.menu-bar ul li {
    width: 120px;
    margin: 0px;
    padding: 15px;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-bar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.879);
}

.menu-bar ul li a:hover {
    color: seagreen;
}

.sub-menu-1 {
    display: none;
    z-index: 1;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #333;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 80px;
    padding: 10px;
    border-bottom: 1px solid #ffffffa2;
    background: transparent;
    text-align: center;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: seagreen;
}

.navbar .dropdown a {
    font-family: 'Segoe UI', Tahoma, Calibri, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 13px;
    margin-left: 69px;
    margin-right: 10px;
}

.navbar .dropdown a:hover {
    color: seagreen;
}

/* Top Button */
.top {
    margin-left: 1280px;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 80px;
    border: none;
    font-size: 30px;

    position: fixed;
    bottom: -10px;
    right: 15px;
    z-index: 1;
}

button {
    background-color: rgba(255, 255, 255, 0.827);
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: white;
}

.top a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/* Hospitals */

.hos-border{
    border: 1px solid #333;
    margin: 25px;
    padding: 10px;
    height: 380px;
    border-radius: 10px;
    background-color: wheat;
}

.hos-border h1{
    margin-bottom: 30px;
    text-align: center;
}
.hos-border h1:hover{
    text-decoration-line: underline;
}

.hos-border h2,h3,p,.location{
    text-align: center;
}

.about-hosital{
    margin-top: 10px;
}

.location p a{
    text-decoration: none;
    color: #0a0a0a;
}

.location button{
    border: 1px solid #333;
    height: 30px;
    width: 150px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
}

.location button:hover{
    border: 1px solid #333;
    background-color: transparent;
    color: seagreen;
}

.location p a{
    text-decoration: none;
}

.location p a:hover{
    text-decoration-line: underline;
    color: #0a0a0a;
}

.address h3{
    margin-top: 15px;
    color: seagreen;
}